.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.readable-hidden {
  overflow: hidden;
  position: absolute;
  width:    1px;
  height:   1px;
  margin:   -1px;
  border:   0;
  padding:  0;
}

.play_video{
  display: block;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

a, button{
  cursor: pointer;
}